<div class="search-results-title-row">
  <h3 class="search-result-title"><%= link_to document.title_or_label, [hyrax, document] %></h3>
  <span class="label label-success">User Collection (wire this up)</span>
</div>
