<ul class="<%= 'dropdown-menu ' unless subfacet ||= false %>pivot-facet list-unstyled">
  <% display_facet.items.each do |item| -%>
    <li>
      <span class="facet-values">
        <%= render_facet_item(item.field, item) %>
      </span>

      <% unless item.items.blank? %>
        <%= render partial: 'facet_pivot', locals: { subfacet: true,
                                                     display_facet: item,
                                                     field_name: field_name,
                                                     solr_field: field_name } %>
      <% end %>
    </li>
  <% end %>

</ul>
